@tailwind base;
@tailwind components;
@tailwind utilities;



/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Root Container */
.min-h-screen {
  min-height: 100vh;
  background-color: #f9fafb; /* bg-gray-50 */
}

